@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.2/css/addons/flag.min.css');

#app {
  background: black;
}

.navbar ::selection {
  color: none;
  background: none;
}

.container {
  background: none;
}
