@import 'mdb-vue-ui-kit/css/mdb.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
  background: black;
}

root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  padding-left: 1rem;
  padding-right: .5rem;
}

.navbar ::selection {
  color: none;
  background: none;
}

.container {
  background: none;
}
